.fixedMenu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0009;
  z-index: 5;
  padding: 1rem;
}

.menuExpandButton {  
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  font-style: italic;
  opacity: 1;
  transition: all 0.5s;
}

.menuExpandButton.hidden {
  opacity: 0;
  visibility: hidden;
}

.chapterTitle {
  display: none;
}

.menuExpandButton:hover .chapterTitle {
  display: inline-block;
  margin-left: 0.5rem;
}

.closeMenuButton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff9;
  cursor: pointer;
}

@media(max-width: 850px) {
  .menuExpandButton:hover .chapterTitle {
    display: none;
  }
}