.menuWrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0009;
  min-height: 90px;
  min-width: 50px;
  z-index: 5;
  opacity: 1;
  transition: all 0.5s;
  display: flex;
  align-items: center;
}

.menuWrapper.hidden {
  opacity: 0;
}

.menuWrapper:hover {
  min-width: 150px;
}

.menuExpandButton {
  border: none;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  font-style: italic;
  background-color: transparent;
}

.chapterTitle {
  display: none;
}

.menuExpandButton:hover .chapterTitle {
  display: inline;
}