.menuExpandButton {  
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0009;
  border: none;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  font-style: italic;
  z-index: 5;
  opacity: 1;
  transition: all 0.5s;
}

.menuExpandButton.hidden {
  opacity: 0;
  visibility: hidden;
}

.chapterTitle {
  display: none;
}

.menuExpandButton:hover .chapterTitle {
  display: inline-block;
  margin-left: 0.5rem;
}

.menuNav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0009;
}