.imageSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image {
  width: 500px;
  height: 337px;
}

.imageSlider:hover .button {
  opacity: 1;
  visibility: visible;
}

button.hidden {
  display: none;
}

.button {
  position: absolute;
  top: 50%;
  z-index: 15;
  cursor: pointer;
  border: none;
  background-color: #0006;
  transform: translateY(-50%);
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.button > i {
  font-size: 4rem;
  color: #fff;
}

.button:hover {
  background-color: #0004;
}

.buttonPrev {
  left: 0;
}

.buttonNext {
  right: 0;
}

.mobileControls {
  display: none;
}

@media(max-width: 768px) {
  .button {
    display: none;
  }

  .image {
    width: 400px;
    height: 270px;
  }

  .mobileControls {
    display: block;
    height: 42px;
    width: 100%;
    margin: 1rem 0;
    position: relative;
  }

  .buttonMobile {
    position: absolute;
    top: 0;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
}

@media(max-width: 500px) {
  .image {
    width: 300px;
    height: 202px;
  }
}