.projectDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectName {
  font-size: 2rem;
}

.description {
  margin: 1rem;
}

.features {
  margin: 0 3rem;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.links a {
  color: var(--action-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}