.experience {
  padding: 2rem 5rem;
}

.resumeListHeader {
  background-color: var(--dark-background);
  padding: 1rem;
  font-weight: bold;
  font-size: 2rem;
  margin: 2rem 0;
}

@media(max-width: 768px) {
  .experience {
    padding: 2rem;
  }

  .resumeListHeader {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
}