.projectCard {
  background-color: var(--light-background);
  padding: 2rem 1rem;
  box-shadow: 2px 3px 2px #0006;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectCardImage {
  max-width: 90%;
}

.projectCardName {
  color: var(--action-color);
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.projectCardDescription {
  font-size: 1.25rem;
}