.projectCard {
  background-color: var(--light-background);
  padding: 2rem 1rem;
  box-shadow: 2px 3px 2px #0006;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.projectCardImage {
  max-width: 90%;
}

.projectCardName {
  margin: 1rem 0;
}

.projectCardName > a {
  font-size: 2rem;
  color: var(--action-color);
  font-weight: bold;
  text-decoration: none;
}

.projectCardName:hover {
  text-decoration: underline;
}

.projectCardDescription {
  font-size: 1.25rem;
}