.introduction {
  min-height: 100vh;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.introduction::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('/images/introduction/background.jpg') center center / cover;
  opacity: 0.7;
  z-index: -1;
}

.introCard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  width: 350px;
  height: 275px;
  margin: 0 auto;
  text-align: center;
}

.introCard > h1 {
  width: 150px;
  margin: 0 auto;
  line-height: 1.2;
  font-size: 3rem;
}

.introCard > h2 {
  font-size: 1.25rem;
}

.contactIcons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.contactIcons a {
  transition: all 0.25s;
}

.contactIcons a:hover {
  transform: scale(1.1);
}

@media(max-width: 500px) {
  .introCard {
    height: 250px;
  }

  .introduction > div:nth-child(2), 
  .introduction > div:nth-child(2) img {
    width: 150px !important;
    height: 150px !important;
  }

  .contactIcons {
    width: 80%;
  }

  .introduction > div:nth-child(3) div, 
  .introduction > div:nth-child(3) img {
    width: 55px !important;
    height: 55px !important;
  }
}