.resumeEntry {
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
}

.resumeEntry:hover,
.resumeEntry:focus {
  background-color: #fceedd;
}

.resumeEntry:focus {
  outline: none;

}

.resumeEntryHeadingLine {
  display: flex;
  justify-content: space-between;
}

.resumeEntryHeading {
  font-size: 2.5rem;
  color: var(--action-color);
  font-weight: bold;
  max-width: 75%
}

.resumeEntrySubheadingLine {
  display: flex;
  align-items: flex-end;
}

.resumeEntryOrganization {
  font-size: 1.75rem;
  margin-right: 0.75rem;
  font-weight: bold;
  max-width: 65%;
}

.resumeEntryLocation {
  color: #333;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.resumeEntryDetailsList {
  margin-left: 1.5rem;
}

.resumeEntryDetailsList > li {
  margin: 0.5rem 0;
}

.resumeEntryDetailsList ul {
  margin-left: 2rem;
}

@media(max-width: 850px) {
  .resumeEntryHeading {
    font-size: 2rem; 
  }

  .resumeEntryOrganization {
    font-size: 1.25rem;
  }

  .resumeEntryLocation {
    font-size: 1rem;
  }

  .resumeEntryDetailsList {
    font-size: 1.25rem;
  }
}

@media(max-width: 500px) {
  .resumeEntry {
    padding: 0;
  }

  .resumeEntry::after {
    content: '';
    display: block;
    width: 75%;
    margin: 1rem auto;
    border: 1px dotted #0009;
  }

  .resumeEntry:last-child::after {
    display: none;
  }

  .resumeEntry:hover {
    background-color: transparent;
  }

  .resumeEntryHeadingLine {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .resumeEntryHeading {
    font-size: 1.5rem;
    flex: 3;
  }

  .resumeEntrySubheadingLine {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .resumeEntryOrganization {
    font-size: 1.25rem;
  }

  .resumeEntryLocation {
    font-size: 1rem;
  }

  .resumeEntryDetailsList {
    font-size: 1.1rem;
  }
}