.sectionHeading {
  color: var(--header-color);
  text-transform: lowercase;
  font-size: 8rem;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 1rem;
}

.section__dark {
  background-color: var(--dark-background);
}

.section__light {
  background-color: var(--light-background);
}