.sectionHeading {
  color: var(--header-color);
  text-align: center;
  text-transform: lowercase;
  font-size: 9rem;
  font-weight: bold;
}

.section__dark {
  background-color: var(--dark-background);
}

.section__light {
  background-color: var(--light-background);
}